@namespace LHA.BlazorWasm.Components.Pickers.Core

<div class="picker-popup @(IsOpen ? "open" : "") @Class" @onclick:stopPropagation="true">
    @ChildContent
</div>

@code {
    [Parameter] public bool IsOpen { get; set; }
    [Parameter] public string? Class { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }
}
