@namespace LHA.BlazorWasm.Components.Toast
@using LHA.BlazorWasm.Services.Toast

<div class="toast-container" aria-live="polite" aria-atomic="true">
    @foreach (var toast in ToastService.State.Toasts)
    {
        <Toast @key="toast.Id" Message="toast" />
    }
</div>
