@inherits LHALayoutComponentBase
@using LHA.BlazorWasm.Components.ThemeSwitch
@using LHA.BlazorWasm.Components.LanguageSelector

<div class="empty-layout @ThemeService.ThemeClass">
    <div class="layout-controls">
        <ThemeSwitch Variant="CThemeSwitchVariant.Icon" Size="sm" />
        <LanguageSelector Mode="CLanguageSelectorMode.Dropdown" ShowFlags="true" ShowNames="true"
                          Size="LHA.BlazorWasm.Components.Form.CInputSize.Small" />
    </div>
    @Body
    <LHA.BlazorWasm.Components.Toast.ToastContainer />
</div>
