@namespace LHA.BlazorWasm.Components.Form

@if (!string.IsNullOrWhiteSpace(Text))
{
    <label class="form-label" for="@For">
        @Text
        @if (Required)
        {
            <span class="form-required" aria-hidden="true">*</span>
        }
    </label>
}

@code {
    [Parameter] public string? Text { get; set; }
    [Parameter] public bool Required { get; set; }
    [Parameter] public string? For { get; set; }
}
