@namespace LHA.BlazorWasm.Components.Form
@using System.Linq.Expressions
@using Microsoft.AspNetCore.Components.Forms

@if (ValueExpression is not null)
{
    var messages = EditContext?.GetValidationMessages(FieldIdentifier).ToList();
    if (messages?.Any() == true)
    {
        <div class="form-error @Class" style="@Style">
            @foreach (var message in messages)
            {
                <span class="lha-error-message">@message</span>
            }
        </div>
    }
}

@code {
    [Parameter] public Expression<Func<object>>? ValueExpression { get; set; }
    [Parameter] public string? Class { get; set; }
    [Parameter] public string? Style { get; set; }

    [CascadingParameter] private EditContext? EditContext { get; set; }
    
    private FieldIdentifier FieldIdentifier => ValueExpression != null 
        ? FieldIdentifier.Create(ValueExpression) 
        : default;

    protected override void OnInitialized()
    {
        if (EditContext != null)
        {
            EditContext.OnValidationStateChanged += (s, e) => StateHasChanged();
        }
    }
}
