@namespace LHA.BlazorWasm.Components.RichTextEditor.Components

<div class="rte-color-picker" @onclick:stopPropagation>
    <div class="rte-color-grid">
        @foreach (var color in PresetColors)
        {
            <Button Style="CButtonStyle.Link" 
                    Class='@($"rte-color-swatch {(color == SelectedColor ? "selected" : "")}")'
                    OnClick="() => SelectColor(color)">
                <div style="background-color: @color; width: 100%; height: 100%; border-radius: inherit;"></div>
            </Button>
        }
    </div>
    <div class="rte-color-custom">
        <label>
            <span>@Localizer.L("Editor.Custom"):</span>
            <input type="color" value="@SelectedColor" @onchange="OnCustomColorChange"/>
        </label>
    </div>
</div>
